<div class="flex justify-between items-center mb-4">
  <h2 class="text-2xl font-bold">{{ title() | transloco }}</h2>

  <div class="flex gap-2">
    <ng-content select="[titleRight]"></ng-content>
    <button nz-button (click)="openModal()">Create</button>
  </div>
</div>

<nz-table #basicTable [nzData]="data()">
  <thead>
    <tr>
      @for (column of columns(); track $index) {
        <th>{{ column.header | transloco }}</th>
      }
      <th [nzWidth]="'150px'">Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (item of basicTable.data; track item) {
      <tr>
        @for (column of columns(); track $index) {
          <td>
            @let columnData = item | appDeepValue: column.field;
            @switch (column.type) {
              @case ('date') {
                {{ columnData | date: 'dd.MM.yyyy HH:mm' }}
              }
              @case ('image') {
                <img
                  [src]="columnData"
                  [alt]="columnData"
                  [width]="50"
                  [height]="50"
                />
              }
              @case ('template') {
                @if (columnTemplate(); as columnTemplate) {
                  <ng-container
                    *ngTemplateOutlet="
                      columnTemplate;
                      context: { $implicit: item, field: column.field }
                    "
                  ></ng-container>
                }
              }
              @default {
                {{ columnData }}
              }
            }
          </td>
        }
        <td>
          <a (click)="handleEdit(item)">Edit</a>
          |
          <a
            nz-popconfirm
            nzPopconfirmTitle="Are you sure delete this task?"
            nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="delete(item.id)"
            >Delete</a
          >
        </td>
      </tr>
    }
  </tbody>
</nz-table>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="(isEditing ? 'Edit' : 'Create') | transloco"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="submit()"
  [nzOkText]="(isEditing ? 'save' : 'create') | transloco"
>
  <ng-container *nzModalContent>
    <ng-container [ngTemplateOutlet]="formTemplate()"></ng-container>
  </ng-container>
</nz-modal>
